*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 512px;
    height: 512px;
    background: url(https://cycle23.github.io/media/images/clouds.png);
    background-size: cover;
    overflow: hidden;
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

#start {
    border: 1px solid black;
    height: 100px;
    width: 200px;
    margin: 0 auto;
    vertical-align:center;
}

#startButton,#upButton,#rightButton,#leftButton,#downButton {
    border: 1px solid black;
    height: 100px;
    width: 200px;
    margin: 0 auto;
    vertical-align:center;
}

#upTouch {
    border: 1px solid black;
    height: 100px;
    width: 200px;
    margin: 0 auto;
    vertical-align:top;
}

#downTouch {
    border: 1px solid black;
    height: 100px;
    width: 200px;
    margin: 0 auto;
    vertical-align:bottom;
}

#leftTouch {
    border: 1px solid black;
    height: 100px;
    width: 200px;
    margin: 0 auto;
    vertical-align:top;
    horiz-align:left;
    alignment:left;
}

#rightTouch {
    border: 1px solid black;
    height: 100px;
    width: 200px;
    margin: 0 auto;
    vertical-align:top;
    horiz-align:right;
    alignment:right;
}



.logo {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 140px;
    height: 171px;
    background: url(https://cycle23.github.io/media/images/logo.png);
    background-size: cover;
    z-index: 100;
}

.pinkie {
    position: absolute;
    width: 140px;
    height: 126px;
    top: 320px;
    left: 64px;
    background: url(https://cycle23.github.io/media/animations/pie-dash.gif);
}

.pinkie.jumping {
    background: url(https://cycle23.github.io/media/animations/pie-jump.gif) !important;
}

.pinkie.gameover {
    background: url(https://cycle23.github.io/media/animations/pie-oops.gif) !important;
}

.ground {
    position: absolute;
    width: 3840px;
    height: 256px;
    top: 320px;
    left: -128px;
    background: url(https://cycle23.github.io/media/images/map.png);
    z-index: -1;
}

.hater {
    position: absolute;
    width: 150px;
    height: 113px;
    left: -512px;
    background: url(https://cycle23.github.io/media/animations/trollface.gif);
}

.coin {
    position: absolute;
    width: 128px;
    height: 128px;
    left: -512px;
    background: url(https://cycle23.github.io/media/animations/coin.gif);
}

.stat {
    position: absolute;
    width: 150px;
    height: 50px;
    left: 0px;
    top: 0px;
}